.tweet-card {
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-bottom: 5px;
    .user {
        font-weight: 700;
    }
    .tweet-card-footer {
        margin-bottom: -10px;
    }
}
